apiVersion: apps/v1
kind: Deployment
metadata:
  name: youtube-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-app
        image: AWS_ACCOUNT_ID.dkr.ecr.eu-north-1.amazonaws.com/youtube2.0:IMAGE_TAG
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
