apiVersion: apps/v1
kind: Deployment
metadata:
  name: youtube-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-app
        image: 020880439519.dkr.ecr.eu-north-1.amazonaws.com/youtube2.0:ee29c74f74499ce04f0d7e1232ed022219600f2a
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
